*{
    box-sizing: border-box;

    -webkit-user-select: none;
}

body{
    margin: 0;
    padding: 0;
}

.background{
    width: 1280px;
    height: 480px;

    background: url(img/back.png);
}

/*-------------------------------*/
.leftMap{
    width: 800px;
    height: 100%;

    float: left;
}

.rightPanel{
    width: 480px;
    height: 100%;

    float: right;

    position: relative;
}

.btnGrp{
    position: absolute;

    width: 335px;

    top: 150px;
    left: 50px;
}

.btn {
    font-size: 24px;
    color: white;
    line-height: 50px;
    width: 335px;
    height: 55px;
    position: relative;
    font-weight: bold;
    font-family: "Helvetica Neue",HelveticaNeue,Helvetica-Neue,Helvetica,"BBAlpha Sans",sans-serif;
}

.btn.on{
    color: black;
}

.btn div{
    position:relative;
    pointer-events: none;
}

.btn span{
    font-size: 33px;
    margin-right: 27px;
    margin-left: 14px;
}

.menuGrp{
    position: absolute;
    width: 80px;
    top: 85px;
    right: 0;
}

.menu{
    width: 80px;
    height: 60px;

    position:relative;
}

.menu div{
    width: 100%;
    height: 100%;
    -webkit-mask-repeat: no-repeat;
    background: white;
    pointer-events: none;
}

.menu.on div{
   background: black; 
}

.menu1 div{
    -webkit-mask-image: url(img/map.png);
    -webkit-mask-position: 39px 17px;
}

.menu2 div{
    -webkit-mask-image: url(img/music.png);
    -webkit-mask-position: 43px 13px;
}

.compass{
    width: 97px;
    height: 65px;
    position: absolute;
    top: 6px;
    left: 6px;
}

.compass div{
    background: url(img/compass.png) no-repeat center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
}